* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Regular';
    src: url(./../../fonts/SF-UI-Display-Regular.otf);
    src: url(./../../fonts/SF-UI-Display-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'SF Medium';
    src: url(./../../fonts/SF-UI-Display-Medium.otf);
    src: url(./../../fonts/SF-UI-Display-Medium.otf) format('opentype')
}

@font-face {
    font-family: 'SF Text Regular';
    src: url(./../../fonts/SF-UI-Text-Regular.otf);
    src: url(./../../fonts/SF-UI-Text-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'SF Text Medium';
    src: url(./../../fonts/SF-UI-Text-Medium.otf);
    src: url(./../../fonts/SF-UI-Text-Medium.otf) format('opentype')
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url(./../../fonts/Gotham-Ultra.otf);
    src: url(./../../fonts/Gotham-Ultra.otf) format('opentype')
}

html, body {
    background-color: #fff;
	font-family: 'SF Text Regular', sans-serif;
    @include styleText($fs-0, $fw-normal, $color-black-0);
    line-height: $line-height-0;
}

.noscroll { overflow: hidden; }

.mainMaxWidth {
    max-width: 940px;
    float: none;
    margin: auto;
    clear: both;
}

.slick-slide {
    outline: none
}

.session-main {
    padding-bottom: 40px;
}

// ageType
.ageType {
    font-size: 14px;
    background-color: $color-primary-1;
    border-radius: 4px;
    padding: 0 5px;
    color: $color-white-1;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;

    &-general {
        background-color: $color-green-1;
    }
}

// CUSTOM SCROLLBAR