<!-- <section class="homeBanner">
    <div class="homeBanner__content">
        <div class="homeBanner__item">
            <a href="#" tabindex="-1">
                <img src="./assets/img/banner/2020/06/con-mua-tinh-dau.png">
                <div class="backgroundLinear"></div>
                <button class="playTrailer venobox" type="button" tabindex="-1" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=bwlWSoeU254"></button>
            </a>
        </div>
        <div class="homeBanner__item">
            <a href="#" tabindex="-1">
                <img src="./assets/img/banner/2020/06/skytour-15918637310942.jpg">
                <div class="backgroundLinear"></div>
                <button class="playTrailer venobox" type="button" tabindex="-1" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=t7m1iqs_b-U"></button>
            </a>
        </div>
        <div class="homeBanner__item">
            <a href="#" tabindex="-1">
                <img src="./assets/img/banner/2020/06/giai-cuu-cay-uoc-nguyen-15919329473387.jpg">
                <div class="backgroundLinear"></div>
                <button class="playTrailer venobox" type="button" tabindex="-1" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=It3siK0DAzg"></button>
            </a>
        </div>
        <div class="homeBanner__item">
            <a href="#" tabindex="-1">
                <img src="./assets/img/banner/2020/06/nhat-ban-15916053152120.png">
                <div class="backgroundLinear"></div>
                <button class="playTrailer venobox" type="button" tabindex="-1" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=lY_1ptUWQFw"></button>
            </a>
        </div>
        <div class="homeBanner__item">
            <a href="#" tabindex="-1">
                <img src="./assets/img/banner/2020/06/sinh-nhat-chet-choc-2-15916767035273.jpg">
                <div class="backgroundLinear"></div>
                <button class="playTrailer venobox" type="button" tabindex="-1" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=ecYILs8MaQ4"></button>
            </a>
        </div>
    </div>

    <div class="homeBanner__bookNow">
        <div class="dropdown selectFilm">
            <div class="dropdown-toggle" id="selectFilm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
                Phim
            </div>
            <div class="dropdown-menu" aria-labelledby="selectFilm">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown selectCinema">
            <div class="dropdown-toggle" id="selectFilm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
                Rạp
            </div>
            <div class="dropdown-menu" aria-labelledby="selectFilm">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown selectDate">
            <div class="dropdown-toggle" id="selectFilm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
                Ngày xem
            </div>
            <div class="dropdown-menu" aria-labelledby="selectFilm">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown selectSession">
            <div class="dropdown-toggle" id="selectFilm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,0">
                Suất chiếu
            </div>
            <div class="dropdown-menu" aria-labelledby="selectFilm">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <button id="btnBuy">MUA VÉ NGAY</button>
    </div>
</section>
-->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>