header {
    .tix-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(255,255,255,.95);
        box-shadow: 0 0 15px rgba(0,0,0,.3);
        z-index: 9;
        transition: all $transition-time-0;
        padding: 0.28rem 1.4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;



        #head-menu {
            list-style: none;
            margin: 0;
            margin-left: 10%;

            li {
                display: inline-block;
                margin-right: $mg-2;

                a {
                    text-decoration: none;
                    color: $color-black-0;
                    padding: 22px 0;
                    transition: all $transition-time-0;

                    &:hover {
                        color: $color-primary-1;
                    }
                }
            }

            @include responsive('medium') {
                display: none;
            }
        }



        #nav-right {
            .nav-account {
                display: inline-block;
                padding-right: 11px;
                border-right: 1px solid $color-gray-2;

                a {
                    text-decoration: none;
                    @include styleText($fs--1, $fw-normal, $color-gray-1);
                    padding: 22px 0;
                    transition: all $transition-time-0;

                    img {
                        width: 30px;
                        margin-right: 5px;
                    }

                    &:hover {
                        color: $color-primary-1;
                    }
                }
            }

            .selectLocation {
                display: inline-block;

                .dropdown-toggle {
                    border: none;
                    outline: none;
                    padding: 20px 0;
                    padding-left: 5px;
                    background-color: $color-trans;

                    text-decoration: none;
                    @include styleText($fs--1, $fw-normal, $color-gray-1);

                    img {
                        opacity: .5;
                    }
                }
            }

            @include responsive('medium') {
                display: none;
            }
        }

        #menu-dropdown {
            display: none;
            width: 25px;

            img {
                width: 100%;
                cursor: pointer;
            }

            @include responsive('medium') {
                display: block;
            }

            #toggle_sideMenu {
                display: none;
            }
            #sideMenu__back {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 100%;
                right: 100%;
                z-index: 9;
                transition: background-color 0.4s ease;
            }
            #sideMenu {
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 10;
                opacity: 0;

                transform: translateX(150%);
                transition: all 0.4s ease;


                #sideMenu__left {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    // width: 32%;
                    width: 50%;
                }

                #sideMenu__right {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 68%;
                    background-color: $color-white-1;
                }
            }

            // CHECKED
            #toggle_sideMenu:checked ~ #sideMenu {
                opacity: 1;
                transform: translateX(0);
            }
            #toggle_sideMenu:checked ~ #sideMenu__back {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.68);
            }

            #toggle_sideMenu:not(:checked) ~ #sideMenu {
                transform: translateX(150%);
            }
        }
    }
}