.homeBanner {
    margin-top: 60px;
    position: relative;

    .homeBanner__content {
        position: relative;

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            width: 50px;
            height: 100px;
            opacity: 0.5;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 2;

            outline: none;
        }

        .slick-prev {
            background-image: url('./../../img/icon/back-session.png');
            left: 15px;
        }

        .slick-next {
            background-image: url('./../../img/icon/next-session.png');
            right: 15px;
        }

        .homeBanner__item {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            .backgroundLinear {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                // background: 0 0;
                background: linear-gradient(to top, #000, transparent 20%);
                z-index: 3;
            }

            .playTrailer {
                opacity: 0;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 4;
                border: none;
                background-color: $color-trans;
                background-image: url('./../../img/icon/play-video.png');
                transition: all $transition-time-0 ease;

                height: 80px;
                width: 80px;
                outline: none;
            }

            &:hover {
                .playTrailer {
                    opacity: 1;
                    transition: all $transition-time-0 ease;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .slick-dots {
            margin-bottom: 0;
            list-style: none;

            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
            padding-left: 0;

            li {
                display: inline-block;
                margin-right: 8px;

                button {
                    background-color: $color-gray-2;
                    width: 12px;
                    height: 12px;
                    padding: 0;
                    border-radius: 50%;
                    color: transparent;
                    
                    border: none;
                    outline: none;
                }

                &.slick-active {
                    button {
                        background-color: $color-primary-1;
                    }
                }
            }
        }
    }

    .homeBanner__bookNow {
        // display: block;
        max-width: 940px;
        margin: auto;
        height: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translate(-50%,50%);
        background-color: $color-white-1;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        z-index: 2;

        display: flex;
        // justify-content: space-between;
        align-items: center;

        @include responsive('large') {
            & {
                display: none;
            }
        }



        .dropdown {
            position: relative;

            .dropdown-toggle {
                background-color: transparent;
                border: none;
                color: #000;
                cursor: pointer;
                width: 100%;
                padding: 10px 20px;
                overflow: hidden;
                white-space: nowrap;
                padding-right: 20px;
                text-overflow: ellipsis;
                text-align: left;

                &::after {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }


            &.selectFilm {
                width: 30%;
            }
    
            &.selectCinema, &.selectDate, &.selectSession, &.btn-bookNow {
                width: calc(70% / 4);
            }



            &::after {
                content: '';
                position: absolute;
                right: 0;
                height: 79%;
                top: 50%;
                transform: translateY(-50%);
                border-right: 1px solid #fff;
                border-right-color: rgba(238,238,238,.88);
            }
        }



        #btnBuy {
            color: $color-white-1;
            background-color: $color-gray-3;
            text-transform: uppercase;
            border: none;
            border-radius: 4px;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%,-50%);
            padding: 10px 25px;
            margin-left: 10px;
            // width: 100%;

            outline: none;
        }

        
    }
}