.news {
    .news__content {
        background: url('./../img/icon/back-news.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 120px;
    }
    .nav-tabs {
        border-bottom: none;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .nav-item {
            .nav-link {
                font-family: 'SF Medium';
                color: $color-black-0;
                line-height: 24px;
                height: 24px;
                font-size: 20px;
                border: none;
                transition: all $transition-time-0 ease;


                &.active {
                    font-size: 24px;
                    color: $color-primary-1;
                    border: none;
                    background-color: $color-trans;
                }

                &:hover {
                    font-size: 24px;
                    border: none;

                    a {
                        color: $color-black-0;
                    }
                }
            }

        }
    }

    .tab-content {

        .news__item {
            float: left;
            padding: 0 7.5px;


            &:nth-child(8n+1), &:nth-child(8n+2) {
                width: 50%;
                margin-bottom: 20px;
            }

            &:nth-child(8n+3), &:nth-child(8n+4) {
                width: 33.33333333%;
                margin-bottom: 20px;
            }

            &:nth-child(8n+5), &:nth-child(8n+6), &:nth-child(8n+7), &:nth-child(8n+8) {
                width: 33.33333333%;

                .newsThumbnail {
                    height: 50px;
                    width: 50px;
                    float: left;
                    margin-right: 10px;
                    padding-top: 0;
                }

                .newsTitle {
                    float: left;
                    width: calc(100% - 70px);
                    opacity: .7;
                    font-family: 'SF Regular';
                }

                .newsDescription, .blockIconFacebook {
                    display: none;
                }
            }

            @include responsive('small') {
                &:nth-child(8n+1), &:nth-child(8n+2), &:nth-child(8n+3), &:nth-child(8n+4), &:nth-child(8n+5), &:nth-child(8n+6), &:nth-child(8n+7), &:nth-child(8n+8) {
                    width: 100%;
                    margin-bottom: 20px;
                }

                &:nth-child(8n+5), &:nth-child(8n+6), &:nth-child(8n+7), &:nth-child(8n+8) {
                    margin-bottom: 0;
                }
            }

            .newsThumbnail {
                height: unset;
                padding-top: 55%;
                position: relative;

                cursor: pointer;
                overflow: hidden;
                border-radius: 4px;
                background-color: #e8e8e8;

                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    transition: all .2s;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                a {
                    text-decoration: none;
                }
            }

            a {
                text-decoration: none;
                color: $color-black-0;
                cursor: pointer;
                transition: all $transition-time-0 ease;
            }

            .newsTitle {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                font-family: 'SF Medium';
                height: 42px;
                font-size: 16px;
                transition: color $transition-time-0 ease;
                margin-bottom: 5px;

                &:hover {
                    color: $color-primary-1;
                }
            }

            .newsDescription {
                text-align: justify;
                font-size: 13px;
                color: $color-gray-3;
                font-family: "SF Regular";
                padding: 0 5px 0 0;
                line-height: 19px;
                letter-spacing: 0.17;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 55px;
                margin-bottom: 15px;
            }

            .blockIconFacebook {
                padding-left: 0;
                float: left;
                width: 100%;
                height: 25px;

                .wrapIcon {
                    display: inline-table;
                    margin-right: 25px;
                    cursor: pointer;

                    .iconFacebook {
                        display: table-cell;
                        vertical-align: middle;
                        margin-right: 10px;
                        margin-top: 2px;
                        height: auto;
                        width: 18px;
                        transition: all .2s;
                    }

                    .amount {
                        display: table-cell;
                        vertical-align: middle;
                        color: #bbb;
                        font-size: 12px;
                        line-height: 1;
                    }
                }
            }
        }

        .wrapButtonSeeMoreNews {
            margin-bottom: 35px;
            float: left;
            width: 100%;

            .btnViewMore {
                font-size: $fs-0;
                color: $color-gray-4;
                font-family: "SF Regular";
                border: 1px solid $color-gray-4;
                border-radius: 4px;
                text-align: center;
                background: 0 0;
                padding: 7px 25px;
                transition: all $transition-time-0 ease;
                margin: auto;
                margin-top: 35px;
                margin-bottom: 20px;
                display: block;
                outline: none;

                &:hover {
                    color: $color-white-1;
                    background-color: $color-primary-1;
                    border-color: $color-primary-1;
                }
            }
        }

    }
}