.filmBlock {
    padding-top: 75px;
    overflow: hidden;

    .filmBlock__content {

        .nav-tabs {
            border-bottom: none;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .nav-item {
                    .nav-link {    font-family: 'SF Medium';
                    color: $color-black-0;
                    line-height: 24px;
                    height: 24px;
                    font-size: 20px;
                    border: none;
                    transition: all $transition-time-0 ease;


                    &.active {
                        font-size: 24px;
                        color: $color-primary-1;
                        border: none;
                        background-color: $color-trans;
                    }

                    &:hover {
                        font-size: 24px;
                        border: none;

                        a {
                            color: $color-black-0;
                        }
                    }
                }

            }
        }

        .tab-content {
            // overflow-y: hidden;
            .tab-pane {

                .film__item {
                    // width: 25%;
                    padding: 20px 10px 0;
                    // margin-bottom: 25px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                    }

                    .filmThumbnail {
                        margin-bottom: 10px;
                        position: relative;
                        border-radius: 4px;
                        padding-top: 147.90697674%;

                        background-image: url('./../../assets/img/default-film.webp');
                        background-position: 0 0;
                        background-size: 100%;
                        background-repeat: repeat-y;

                        .filmThumbnail__img {
                            background-position: center;
                            background-size: 100%;
                            background-repeat: no-repeat;

                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border-radius: 4px;

                            z-index: 1;
                        }
                        .filmThumbnail__hoverInfo {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: 0 0;
                            border: none;
                            border-radius: 4px;
                            background: linear-gradient(to top,#000,transparent 100%);
                            
                            z-index: 2;
                            opacity: 0;
                            transition: all $transition-time-0 ease;
                            
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                width: 48px;
                                height: 48px;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }

                            // &:hover {
                            //     opacity: 1;
                            // }
                        }
                        .filmThumbnail__point {
                            font-family: 'SF Medium';
                            font-size: 16px;
                            background-color: rgba(12,27,54,.8);
                            border: 1px solid #1f2e46;
                            border-radius: 4px;
                            padding: 2px;
                            position: absolute;
                            top: 12px;
                            right: 12px;
                            color: #fff;
                            width: 54px;
                            text-align: center;
                            line-height: 1.1;

                            z-index: 2;

                            p {
                                display: flex;
                                justify-content: center;
                                margin-bottom: 0;
                                img {
                                    display: inline-block;
                                    max-width: 8px;
                                }
                            }

                            .txtPoint {
                                text-align: center;
                                transform: scaleY(1.2);
                                margin-bottom: 5px;
                            }
                        }
                        .filmThumbnail__typeLabel {
                            position: absolute;
                            top: -20px;
                            left: -10px;
                            width: 80%;
                            pointer-events: none;
                            overflow: hidden;
                            transform: translate(-5%,-12%);
                            max-width: 150px;

                            z-index: 2;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .filmInfo {
                        position: relative;

                        .nameFilm {
                            height: 42px;
                            max-height: 42px;
                            font-family: 'SF Medium';
                            font-size: 16px;
                            color: #000;
                            line-height: 22px;
                            margin-bottom: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                            
                        }

                        .infoFilm {
                            font-size: $fs--1;
                            color: $color-gray-3;
                            margin-bottom: 15px;
                            margin-top: 8px;
                        }

                        .hideHover {
                            visibility: visible;
                            opacity: 1;
                            transition: all .2s;
                        }

                        .showHover {
                            visibility: hidden;
                            opacity: 0;
                            transition: all .2s;

                            .buyNow {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 100%;
                                border-radius: 4px;
                                color: #fff;
                                font-size: 18px!important;
                                padding: 10px;
                                text-align: center;
                                background: #fb4226;
                                background: linear-gradient(to left,#fb4226,#ce3017 100%);
                            }
                        }
                    }

                    &:hover {
                        & .filmThumbnail__hoverInfo {
                            opacity: 1;
                        }

                        & .showHover {
                            visibility: visible;
                            opacity: 1;
                        }

                        & .hideHover {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }

                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: none;
                    width: 50px;
                    height: 100px;
                    opacity: 0.5;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    z-index: 2;

                    outline: none; 

                    // @include responsive('large') {
                    //     & {
                    //         visibility: hidden;
                    //         display: none !important;
                    //     }
                    // }
                }

                .slick-prev {
                    background-image: url('./../img/icon/back-session.png');
                    left: -60px;
                }
                .slick-next {
                    background-image: url('./../img/icon/next-session.png');
                    right: -60px;
                }
                // .slick-disabled {
                //     display: none !important;
                // }
            }
            
        }
    }
}