<header>
    <nav class="tix-navbar">
        <a class="tix-brand" href="#">
            <img src="./assets/img/web-logo.png" width="50px" alt="" loading="lazy">
        </a>

        <ul id="head-menu">
            <li><a href="#">Lịch chiếu</a></li>
            <li><a href="#">Cụm rạp</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Ứng dụng</a></li>
        </ul>

        <div id="nav-right">
            <div class="nav-account">
                <a href="#">
                    <img src="./assets/img/avatar.png" alt="Tix default avatar" class="rounded-circle">
                    <span>Đăng nhập</span>
                </a>
            </div>

            <div class="selectLocation">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="place-header white" src="./assets/img/icon/location-header.png">
                    Hồ Chí Minh
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>

        <div id="menu-dropdown">
            <img src="./assets/img/icon/menu-options.png" alt="" onclick="setState_toggle_sideMenu(true)">
            
            
            <input type="checkbox" id="toggle_sideMenu">
            <div id="sideMenu">
                <div id="sideMenu__left"></div>
                <div id="sideMenu__right">
                    ok
                </div>
            </div>
            <div id="sideMenu__back"></div>
            
        </div>
    </nav>
</header>