<footer>
    <div class="mainMaxWidth">
        <div class="row footer__links mx-0">
            <div class="col-sm-4 col-6 footer__tix">
                <p class="title hideOnMobile">TIX</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#">FAQ</a>
                        <a href="#">Brand Guidelines</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#">Thỏa thuận sử dụng</a>
                        <a href="#">Chính sách bảo mật</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 hideOnMobile">
                <p class="title hideOnMobile">ĐỐI TÁC</p>
                <div class="linePartner">
                    <a target="_blank" href="https://www.cgv.vn/" title="CGV">
                        <img class="bg-white" src="./assets/img/partner/cgv.png">
                    </a>
                    <a target="_blank" href="http://bhdstar.vn" title="BHD">
                        <img src="./assets/img/partner/bhd.png">
                    </a>
                    <a target="_blank" href="http://galaxycine.vn" title="Galaxy">
                        <img src="./assets/img/partner/galaxycine.png">
                    </a>
                    <a target="_blank" href="http://cinestar.com.vn" title="Cinestar">
                        <img src="./assets/img/partner/cinestar.png">
                    </a>
                    <a target="_blank" href="http://lottecinemavn.com" title="Lotte Cinema">
                        <img src="./assets/img/partner/lottecinemavn.png">
                    </a>
                </div>
                <div class="linePartner">
                    <a target="_blank" href="https://www.megagscinemas.vn" title="MegaGS">
                        <img class="bg-white" src="./assets/img/partner/megags.png">
                    </a>
                    <a target="_blank" href="https://www.betacineplex.vn/" title="Beta">
                        <img src="./assets/img/partner/bt.jpg">
                    </a>
                    <a target="_blank" href="http://ddcinema.vn" title="DDC">
                        <img src="./assets/img/partner/dongdacinema.png">
                    </a>
                    <a target="_blank" href="https://touchcinema.com/" title="Touch Cinema">
                        <img src="./assets/img/partner/TOUCH.png">
                    </a>
                    <a target="_blank" href="https://cinemaxvn.com/" title="Cinemax">
                        <img src="./assets/img/partner/cnx.jpg">
                    </a>
                </div>
                <div class="linePartner">
                    <a target="_blank" href="http://starlight.vn/" title="Starlight">
                        <img src="./assets/img/partner/STARLIGHT.png">
                    </a>
                    <a target="_blank" href="https://www.dcine.vn/" title="Dcine">
                        <img src="./assets/img/partner/dcine.png">
                    </a>
                    <a target="_blank" href="https://zalopay.vn/" title="ZaloPay">
                        <img src="./assets/img/partner/zalopay_icon.png">
                    </a>
                    <a target="_blank" href="https://www.payoo.vn/" title="Payoo">
                        <img src="./assets/img/partner/payoo.jpg">
                    </a>
                    <a target="_blank" href="https://www.vietcombank.com.vn/" title="Vietcombank">
                        <img src="./assets/img/partner/VCB.png">
                    </a>
                </div>
                <div class="linePartner">
                    <a target="_blank" href="http://www.agribank.com.vn/" title="Agribank">
                        <img src="./assets/img/partner/AGRIBANK.png">
                    </a>
                    <a target="_blank" href="https://www.vietinbank.vn/" title="Vietinbank">
                        <img src="./assets/img/partner/VIETTINBANK.png">
                    </a>
                    <a target="_blank" href="https://www.indovinabank.com.vn/" title="IVB">
                        <img src="./assets/img/partner/IVB.png">
                    </a>
                    <a target="_blank" href="http://123go.vn" title="123Go">
                        <img src="./assets/img/partner/123go.png">
                    </a>
                    <a target="_blank" href="http://laban.vn" title="La Bàn">
                        <img src="./assets/img/partner/laban.png">
                    </a>
                </div>
            </div>

            <div class="col-sm-4 col-6">
                <div class="row">
                    <div class="col-sm-6 text-center hideOnMobile">
                        <p class="title">MOBILE APP</p>
                        <a target="_blank" href="https://apps.apple.com/vn/app/tix-%C4%91%E1%BA%B7t-v%C3%A9-nhanh-nh%E1%BA%A5t/id615186197" title="Apple App">
                            <img class="iconApp" src="./assets/img/icon/apple-logo.png">
                        </a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123" title="Android App">
                            <img class="iconApp" src="./assets/img/icon/android-logo.png">
                        </a>
                    </div>

                    <div class="col-sm-6 text-center">
                        <p class="title hideOnMobile">SOCIAL</p>
                        <a target="_blank" href="https://www.facebook.com/tix.vn/" title="Facebook social">
                            <img class="iconApp" src="./assets/img/icon/facebook-logo.png">
                        </a>
                        <a target="_blank" href="https://zalo.me/tixdatve" title="Zalo social">
                            <img class="iconApp" src="./assets/img/icon/zalo-logo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <hr class="hrFooter">



        <div class="row footer__info">
            <div class="col-lg-1 col-xs-12 footer__logo">
                <img src="./assets/img/icon/zion-logo.jpg">
            </div>

            <div class="col-lg-9 text-lg-left col-xs-12 text-center px-3">
                <span>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</span>
                <span>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam.</span>
                <span>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,<br>đăng ký thay đổi lần&nbsp;thứ&nbsp;30,
                    ngày&nbsp;22&nbsp;tháng&nbsp;01&nbsp;năm&nbsp;2020 do Sở&nbsp;kế&nbsp;hoạch&nbsp;và&nbsp;đầu&nbsp;tư
                    Thành phố Hồ Chí Minh cấp.</span>
                <span>Số Điện Thoại (Hotline): 1900&nbsp;545&nbsp;436<br>Email: <a href="mailto:support@tix.vn">support@tix.vn</a></span>
            </div>

            <div class="col-lg-2 col-xs-12 text-center">
                <a target="_blank" href="http://online.gov.vn/Home/WebDetails/62782" class="float-lg-right text-center">
                    <img class="imgBoCongThuong" alt="Bộ Công Thương" title="" src="./assets/img/icon/da-thong-bao-bo-cong-thuong.png">
                </a>
            </div>
        </div>
    </div>
</footer>